---
layout: default
cards:
 - heading: Small heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus placeat ex libero voluptatum minima quia ipsa! Possimus vero aliquid molesti
   featured_image: /images/thesleepco2.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus placeat ex libero voluptatum minima quia ipsa! Possimus vero aliquid molesti
   featured_image: /images/thesleepco3.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus placeat ex libero voluptatum minima quia ipsa! Possimus vero aliquid molesti
   featured_image: /images/thesleepco4.jpg   
---

    <!--------------------------------------- HEADER BANNER -->
    <header class="grid tall-60">
        
        {% include header-nav.html %}

        <div class='col-12-middle text-center'>
            <h3 class="font-weight-extrabold">
                <span class="featured-text">addictively</span> soft
            </h3>
            <h1 class="font-weight-light">you won't want to get out of bed</h1>
        </div>

    </header>



    
    <!------------------------------------------- TEXT GRID -->
    <section class="padded grid bg-featured">

        <div class="padded-sm col-12 text-center">
            <h2><span class="white-text">features </span>you will love</h2>
        </div>
    
        <div class="padded-sm col-3">
            <h3>little heading</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel reiciendis repellendus perspiciatis nulla soluta deserunt ab autem! Tempora ipsum, quos fuga aliquid dolor facilis harum soluta ipsam consectetur esse!</p>
        </div>
    
        <div class="padded-sm col-3">
            <h3>little heading</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel reiciendis repellendus perspiciatis nulla soluta deserunt ab autem! Tempora ipsum, quos fuga aliquid dolor facilis harum soluta ipsam consectetur esse!</p>
        </div>
    
        <div class="padded-sm col-3">
            <h3>little heading</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel reiciendis repellendus perspiciatis nulla soluta deserunt ab autem! Tempora ipsum, quos fuga aliquid dolor facilis harum soluta ipsam consectetur esse!</p>
        </div>
    
        <div class="padded-sm col-3">
            <h3>little heading</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel reiciendis repellendus perspiciatis nulla soluta deserunt ab autem! Tempora ipsum, quos fuga aliquid dolor facilis harum soluta ipsam consectetur esse!</p>
        </div>

    </section>



    <!----------------------------------------------- CARDS -->
    <section class="grid padded">

    {% for item in page.cards %}
        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}');"></div>
                <div class="padded-1">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    </section>



    <!---------------------------------------------- BANNER -->
    <section class="padded text-center bg-dark tall-70 grid">

        <div class="col-12-middle">
            <h3 class="big-text">
                <span class="small-text font-weight-normal">spend over $150 and activate</span>
                <br><span class="featured-text">free</span> express shipping
            </h3>
        </div>

    </section>



    <!------------------------------------------------ GRID -->
    <section class='grid'>

        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <p>Cumque autem veniam saepe maxime quisquam consequuntur expedita consequatur asperiores similique eum. Ad, doloremque nisi! Voluptate delectus labore iusto at, quibusdam pariatur.</p>
        </div>

        <div class="bg-image bg-bed col-6 tall-70">
            <!-- Background Image Bed -->
        </div>


        <div class="bg-image bg-pug col-6-middle tall-70">
            <!-- Backbround Image Pug -->
        </div>
                
        <div class="padded col-6-middle">
            <h2>so <span class="featured-text">soft </span>you'll melt</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque autem veniam saepe maxime quisquam consequuntur expedita consequatur asperiores similique eum. Ad, doloremque nisi! Voluptate delectus labore iusto at, quibusdam pariatur.</p>
        </div>


        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <p>Cumque autem veniam saepe maxime quisquam consequuntur expedita consequatur asperiores similique eum. Ad, doloremque nisi! Voluptate delectus labore iusto at, quibusdam pariatur.</p>
        </div>

        <div class="bg-image bg-bed col-6 tall-70">
            <!-- Background Image Bed -->
        </div>

    </section>

