*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



/* --------------------Temporary styles for structural html */

*{
    padding: 0.5rem;
    border: 2px solid rgb(240,240,240)
}

body{
    border: none;
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}

html{
    border: none;
}



/*-------------------------------------------- Image Styles */

.bg-image{
    background-image: url('/images/thesleepco1.jpg');
    background-size: cover;
    min-height: 10rem;
}



/* ----------------------Universal Styles & Utility Classes */

/* Padding */
.padded     {padding: 5%;}
.padded-sm  {padding: 1rem;}

/* Background Color */
.bg-dark{
    background-color:#192837;
    color: white;
}

/* Text alignment */
.text-left    {text-align: left;}
.text-center  {text-align: center;}
.text-right   {text-align: right;}

